html {
  font-size: 62.5% !important;
}
/* pc */
@media (min-width: 1024px) and (max-width: 1468px) {
  .bot-img {
    display: none;
  }
  #main {
  }
  .header-logo {
  }
  .header-nav {
    /* margin-left: 4.6rem;
    margin-top: 4.6rem; */
  }
  .header-nav .nav__list {
    display: flex;
    font-style: none;
    list-style-type: none;
    gap: 3rem;
  }
  .header-other {
    /* margin-top: 3.4rem;
    margin-left: 8.6rem;
    display: flex; */
  }
  .our-services-skill {
    margin: 4.5rem 6rem 0 6rem;
  }
  .header-other {
    /* margin-right: 0; */
  }
  .header-logo {
    /* display: none; */
  }
  .process-group-none {
    display: none;
  }
  .container-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px 30px;
  }
  .infor-btn {
    display: flex;
    flex-direction: column;
  }
  .why-img img {
    object-fit: contain;
  }
  .what-content-bot {
    margin: 0;
  }
  .our-network-content {
    gap: 10rem;
  }
  .infor .infor-name button {
    width: 10rem;
    height: 5rem;
    margin-left: 0.2rem;
    margin-top: 0.8rem;
  }
  .footer-top {
    padding-top: 6.3rem;
    margin-left: 10rem;
    display: flex;
    gap: 1rem;
  }
  .footer-top .footer-top-text h2 {
    font-size: 3.5rem;
    max-width: 58rem;
  }
  .footer-top button {
    width: 29rem;
    height: 6rem;
  }
  .footer-mid h2 {
    font-size: 1.4rem;
    color: #fff;
    line-height: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .footer-mid {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
  }
  .footer-mid p {
    max-width: 32rem;
  }
}

/* tablet */
@media (min-width: 767.999px) and (max-width: 1023px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bot-img {
    display: none;
  }
  .header-logo {
    /* display: none; */
  }
  .nav-menu{
    display: block;
  }
  .process-group-none {
    display: none;
  }
  .our-network-content {
    gap: 6rem;
  }
  .header-nav {
    display: none;
  }
  .header-other {
    display: none;
  }
  .infor-btn {
    display: flex;
    flex-direction: column;
  }
  .main-content {
    max-width: 750px;
    padding: 46px 30px;
    margin: 0 auto;
}
  
  .nav-menu-icon {
    display: block;
    color: #fff;
    font-size: 4rem;
  }
  .header-logo {
    display: flex;
  }
  .header__content-text h2 {
    font-size: 2.8rem;
    max-width: 53rem;
  }
  .header__content-text p {
    font-size: 1.5rem;
    max-width: 49rem;
  }
  .nav-menu-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 2.5rem;
    width: 30em;
    border-radius: 0.5rem;
  }

  .modal-show {
    /* display: none; */
  }

  .bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
  }
  .bg-show {
    display: block !important;
  }

  .modal {
    position: fixed;
    width: 80%;
    height: 50rem;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
  }
  .modal-show {
    display: block !important;
  }
  .modal-container {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    box-shadow: -0.1rem 0.4rem 2.4rem 0rem #0000001f;
  }
  .modal-menu {
  }
  .modal-menu ul li {
    color: #333;
    list-style-type: none;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
  }
  .modal-close {
    color: #333;
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 1rem;
    font-size: 2.3rem;
    cursor: pointer;
  }
  .our-services, .our-products, .process {
    padding: 20px 50px;
}
  .our-services-logo h2 {
  }
  .our-services-text {
  }
  .our-services-skill {
    margin: 2rem 1rem 0 1rem;
  }
  .group-1 p,
  .group-2 p,
  .group-3 p,
  .group-4 p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .our-services-skill .our-services-img .group-1,
  .our-services-skill .our-services-img .group-2,
  .our-services-skill .our-services-img .group-3,
  .our-services-skill .our-services-img .group-4 {
    position: absolute;
    top: 2.3rem;
  }
  .container-group {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px 50px;
    justify-content: center;
    
  }
  .products {
    width: 100%;
    height: 900px;
  }
  .products-child {
    width: 1216px;
    max-width: 100%;
    height: 700px;
  }
  .process-group-1 {
    scale: 0.8;
  }
  .process-person-img {
    scale: 0.8;
  }
  .process-navbar-img img {
    scale: 0.8;
  }
  .process-person {
    margin: 1.4rem 0 0rem 11.5rem;
  }
  .process-navbar-img {
    position: absolute;
    top: 34rem;
    scale: 0.8;
  }
  .why {
    margin-top: 2rem;
  }
  .why-text {
    padding-top: 4rem;
  }
  .container-icon {
    display: none;
  }
  .why-img {
    width: 450px;
    height: 200px;
    margin-left: 165px;
  }
  .why-img img {
    object-fit: cover;
    padding-left: 12.5rem;
  }
  .our-services-logo {
  }
  .process-text {
    margin-top: 1.5rem;
  }
  .prd-child-img-2 {
    display: block !important;
  }
  .prd-child-img-2 > img {
    width: 15rem ;
    height: 20rem;
  }

  .prd-child-img-1 {
    display: block !important;
  }
  .prd-child-img-1 > img {
    width: 10rem ;
    height: 20rem;
  }

  .prd-child-img-3 {
    display: block !important;
  }
  .prd-child-img-3 > img {
    width: 10rem ;
    height: 10rem;
  }

  .prd-child-img-4 {
    display: block !important;
  }
  .prd-child-img-4 > img {
    width: 15rem ;
    height: 40rem;
  }

  .what h3 {
    margin-top: 2.5rem;
    margin-left: 5rem;
    font-size: 3rem;
    line-height: 3.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #333;
  }
  .what-content {
    margin-top: 0;
    display: none;
  }
  .what-content-bot {
    margin: 8.5rem 3rem 5rem 3rem;
  }
  .content-bot-1 {
    width: 16rem;
    height: 15.5rem;
    background-color: #b0caea;
    border-radius: 2rem;
    position: relative;
  }
  .content-bot-1-child {
    width: 16rem;
    height: 15.5rem;
  }
  .content-bot-1-child .img-4 {
    width: 8rem;
    height: 6rem;
    position: absolute;
    bottom: 82%;
    left: 25%;
  }
  .content-bot-1-child-text {
    margin-top: 5rem;
  }
  .content-bot-1-child-text h5 {
    font-size: 3.6rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #333;
    text-align: center;
  }
  .content-bot-1-child .img-3 {
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 73%;
    left: 40%;
  }
  .content-bot-1-child .img-2 {
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 75%;
    left: 30%;
  }
  .content-bot-1-child img {
    object-fit: contain;
    position: absolute;
    bottom: 62%;
    left: 23%;
    width: 13.7rem;
    height: 11rem;
  }
  .infor,
  .contact {
    /* height: 65rem; */
  }
  .infor h5,
  .contact h5 {
    font-size: 2.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
  }
  .infor .infor-intro,
  .contact .contact-intro {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.05rem;
    color: #828282;
    padding-top: 2rem;
    padding-left: 2.5rem;
    max-width: 52rem;
  }
  .infor .infor-mail {
    margin-top: 1rem;
    margin-left: 2.4rem;
    position: relative;
  }


  .textarea {
    padding: 1rem;
    max-width: 90%;
  }
  .infor .infor-mes {
    margin-top: 2rem;
    margin-left: 2.4rem;
  }
  .infor .infor-name {
    margin-top: 2rem;
    margin-left: 2.4rem;
  }
  .infor .infor-name button {
    width: 9rem;
    height: 5rem;
    margin-left: 0.3rem;
    margin-top: 1rem;
  }
  .contact .fonts {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .contact .contact-address {
    
  }
  .d-flex {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.6rem;
    margin-left: 2.8rem;
  }
  .contact-email p {
    margin-left: -1.2rem;
    margin-top: 0.3rem;
  }
  /* .contact .contact-address .add-icon {
    color: #3C83D7;
    font-size: 1.6rem;
    padding-top: 7px !important;
} */
  .contact .contact-email img {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
  }
  .our-network-content {
    gap: 1rem;
  }
  .our-network-content {
    display: flex;
    /* margin-left: 3rem; */
    /* margin-top: 2.4rem; */
  }
  .display-flex p {
    font-size: 1.4rem ;
    line-height: 2.3rem;
    padding-top: 0.6rem; 
  }
  .behance {
    margin-left: -0.6rem;
    margin-bottom: 1.8rem;
    margin-top: -0.5rem;
  }
  .footer-top button {
    display: none;
  }
  .footer-top {
    padding-top: 3.5rem;
    margin-left: 8rem;
  }
  .footer-top .footer-top-text h2 {
    font-size: 3.5rem;
    max-width: 600rem;
  }
  .footer-mid {
    display: block;
  }
  .footer-mid {
    margin: 0 8rem;
  }
  .d-flex {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  /* .footer-nav-1-res {
  display: none;
} */
  .footer-mid-1-res {
    display: flex;
    gap: 9rem;
  }
  .footer-mid-tax {
    display: flex;
    gap: 1.3rem;
    margin-top: 2.5rem;
    margin-left: 8rem;
  }
  .footer-mid-tax p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  .footer-bot {
    display: flex;
    margin-left: 8.2rem;
    gap: 2.5rem;
  }
}

@media (min-width:500px) and (max-width:767.99px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .bot-img {
    display: none;
  }
  .header-logo {
    display: flex;
  }
  .process-group-none {
    display: none;
  }
  .our-network-content {
    gap: 6rem;
  }
  .header-nav {
    display: none;
  }
  .header-other {
    display: none;
  }
  .products {
    display: none;
  }
  .prd-child-img-1> img, .prd-child-img-2 > img, .prd-child-img-3 > img, .prd-child-img-4 > img{
    display: none;
  }
  .process-gr-500 {
    display: none;
  }
  .display-flex {
    display: flex;
    gap: 1px;
    margin-bottom: 22px;
}
.our-network-content {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  gap: 185px;
}
.our-services, .our-products,.process {
  padding: 0 30px;
}
.our-services {
margin: 30px 0;
}
/* .display-flex > img {
  width: 3rem;
  height: 3rem;
}
.behance > img {
  width: 4.5rem !important;
  height: 4.5rem !important;
} */
.what-content-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
  .nav-menu-icon {
    display: block;
    color: #fff;
    font-size: 4rem;
  }
  .header-logo {
    /* margin-top: 3.2rem;
    margin-left: 7rem;
    display: flex; */
  }
  .header__content-text h2 {
    font-size: 2.8rem;
    max-width: 53rem;
  }
  .header__content-text p {
    font-size: 1.5rem;
    max-width: 49rem;
  }
  .nav-menu-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 2.5rem;
    width: 30em;
    border-radius: 0.5rem;
  }

  .modal-show {
    /* display: none; */
  }

  .bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
  }
  .bg-show {
    display: block !important;
  }

  .modal {
    position: fixed;
    width: 80%;
    height: 50rem;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
  }
  .modal-show {
    display: block !important;
  }
  .modal-container {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    box-shadow: -0.1rem 0.4rem 2.4rem 0rem #0000001f;
  }
  .modal-menu {
  }
  .modal-menu ul li {
    color: #333;
    list-style-type: none;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
  }
  .modal-close {
    color: #333;
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 1rem;
    font-size: 2.3rem;
    cursor: pointer;
  }
  .our-services-logo h2 {
  }
  .our-services-text {
  }
  .our-services-skill {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2rem 1rem 0 1rem;
  }
  .group-img-500 {
    width: 80px;
    height: 80px;
  }
  .group-1 p,
  .group-2 p,
  .group-3 p,
  .group-4 p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .our-services-skill .our-services-img .group-1 {
    position: absolute;
    top: 3.9rem;
  }

  .our-services-skill .our-services-img .group-2 {
    position: absolute;
    top: 3.9rem;
  }
  .our-services-skill .our-services-img .group-3 {
    position: absolute;
    top: 31rem;
  }
  .our-services-skill .our-services-img .group-4 {
    position: absolute;
    top: 31rem;
    

  }
  .container-group {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    gap: 90px 175px;
  }
  .process-group-1 {
    scale: 0.8;
  }
  .process-person-img {
    scale: 0.8;
  }
  .process-navbar-img img {
    scale: 0.8;
  }
  .process-person {
    margin-left: 5.5rem;
  }
  .process-navbar-img {
  }
  .why {
    padding: 0 30px ;
  }
  .why-text {
    padding-top: 4rem;
  }
  .container-icon {
    display: none;
  }
  .why-img {
    width: 400px;
    height: 200px;
    margin-left: 40px;
  }
  .why-img img {
    object-fit: cover;
    padding-left: 12.5rem;
  }
  .why-container {
    padding: 1px 1px !important;
  }
  .our-services-logo {
  }
  .process-text {
  }
  .prd-child-img-2 {
    display: block !important;
  }
  .prd-child-img-2 > img {
    width: 15rem ;
    height: 20rem;
  }

  .prd-child-img-1 {
    display: block !important;
  }
  .prd-child-img-1 > img {
    width: 10rem ;
    height: 20rem;
  }

  .prd-child-img-3 {
    display: block !important;
  }
  .prd-child-img-3 > img {
    width: 10rem ;
    height: 10rem;
  }

  .prd-child-img-4 {
    display: block !important;
  }
  .prd-child-img-4 > img {
    width: 15rem ;
    height: 40rem;
  }

  .what h3 {
    margin-top: 2.5rem;
    margin-left: 3rem;
    font-size: 3rem;
    line-height: 3.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #333;
  }
  .what-content {
    margin-top: 0;
    display: none;
  }
  .what-content-bot {
    margin: 8.5rem 3rem 5rem 3rem;
  }
  .content-bot-1 {
    width: 16rem;
    height: 15.5rem;
    background-color: #b0caea;
    border-radius: 2rem;
    position: relative;
  }
  .content-bot-1-child {
    width: 16rem;
    height: 15.5rem;
  }
  .content-bot-1-child .img-4 {
    width: 8rem;
    height: 6rem;
    position: absolute;
    bottom: 82%;
    left: 25%;
  }
  .content-bot-1-child-text {
    margin-top: 5rem;
  }
  .content-bot-1-child-text h5 {
    font-size: 3.6rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #333;
    text-align: center;
  }
  .content-bot-1-child .img-3 {
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 73%;
    left: 40%;
  }
  .content-bot-1-child .img-2 {
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 75%;
    left: 30%;
  }
  .content-bot-1-child img {
    object-fit: contain;
    position: absolute;
    bottom: 62%;
    left: 23%;
    width: 13.7rem;
    height: 11rem;
  }
  .infor,
  .contact {
    width: 100%;
    /* height: 65rem; */
  }
  .infor h5,
  .contact h5 {
    font-size: 2.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
  }
  .infor .infor-intro,
  .contact .contact-intro {
    font-size: 1.6rem;  
    line-height: 2.6rem;
    letter-spacing: 0.05rem;
    color: #828282;
    padding-top: 2rem;
    padding-left: 2.5rem;
    max-width: 52rem;
  }
  .infor .infor-mail {
    margin-top: 1rem;
    margin-left: 2.4rem;
    position: relative;
  }
  .infor-btn {
    display: flex;
    flex-direction: column;
  }


  .textarea {
    padding: 1rem;
    max-width: 90%;
  }
  .infor .infor-mes {
    margin-top: 2rem;
    margin-left: 2.4rem;
  }
  .infor .infor-name {
    margin-top: 2rem;
    margin-left: 2.4rem;
  }
  .infor .infor-name button {
    width: 9rem;
    height: 5rem;
    margin-left: 0.3rem;
    margin-top: 1rem;
  }
  .contact .fonts {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .contact .contact-address {
    
  }
  .d-flex {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.6rem;
    margin-left: 2.8rem;
  }
  .contact-email p {
    margin-left: -1.2rem;
    margin-top: 0.3rem;
  }
  .contact .contact-address .add-icon {
    color: #3C83D7;
    font-size: 1.6rem;
    padding-top: 12px !important;
} 
.contact .contact-phone .phone-icon {
  padding-top: 2px ;
}
  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    gap: 30px;
}

  .contact .contact-email img {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
  }
  .our-network-content {
  }
  .our-network-content {
    display: flex;
    gap: 10rem;
    
    margin-left: 5rem; 
    margin-top: 5.4rem;
  }
  .display-flex p {
    font-size: 1.4rem ;
    line-height: 2.3rem;
    padding-top: 0.6rem; 
  }
  .behance {
    margin-left: -0.6rem;
    margin-bottom: 1.8rem;
    margin-top: -0.5rem;
  }
  .footer-top button {
    display: none;
  }
  .footer-top {
    padding-top: 3.5rem;
    margin-left: 8rem;
  }
  .footer-top .footer-top-text h2 {
    font-size: 2.3rem;
    max-width: 600rem;
    line-height: 4rem;
  }
  .footer-mid {
    display: block;
  }
  .footer-mid {
    margin: 0 8rem;
  }
  .d-flex {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  /* .footer-nav-1-res {
  display: none;
} */
  .footer-mid-1-res {
    display: flex;
    gap: 1rem;
  }
  .footer-mid-tax {
    display: none;
   
  }
  .footer-mid-tax p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  .footer-bot {
    display: none;
  }
  .footer-mid-1-res {
    display: flex;
    flex-direction: column;
  }
  .footer-nav-1-res {
    display: none;
  }

}
/* Mobile */
@media (min-width: 320px) and (max-width:499.99px) {
  #main {
    width: 100%;
    height: 43rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__content-img {
    position: absolute;
    top: 27rem;
    left: 13.5rem;
  }
  .bot-img {
    display: none;
  }
  .header-logo {

  }
  .header__logo-img img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
  .header__logo-text h1 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .header__logo-text p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .process-group-none {
    display: none;
  }
  .header-other,
  .header-nav,
  .container-icon {
    display: none;
  }
  .header__content-text {
    margin-top: 40px;
  }
 
  .header__content-text h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #deedff;
    max-width: 51rem;
  }
  .header__content-text p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: #deedff;
    max-width: 40.5rem;
    padding-top: 1.1rem;
  }
  .network-right .display-flex img {
    width: 25px;
    height: 25px;
    display: flex;
  }
  .header__content-text {
    color: #fff;
  }
  /* none tam thoi */
  .process-group-1 {
    display: none;
  }
  .header__img-frame {
    display: none;
  }
  /* .information {
    display: none;
  } */
  .what-content {
    display: none;
  }
  .footer-top button {
    display: none;
  }
  .footer-mid-1-res {
    display: none;
  }
  .footer-bot {
    display: none;
  }
  .footer-mid-tax p {
    display: none;
  }
  .footer-top .footer-top-text h2 {
    font-size: 1.6rem;
  }
  .display-flex p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #828282;
    text-align: center;
    padding-top: 6px;
}
  /*  */
  .nav-menu {
    display: block;
  }
  .nav-menu-icon {
    display: block;
    color: #fff;
    font-size: 3rem;
  }
  .nav-menu {
    display: block;
  }
  .bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
  }
  .bg-show {
    display: block !important;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
  }
  .open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-show {
    display: block !important;
  }
  .modal-container {
    max-width: 365px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    box-shadow: -0.1rem 0.4rem 2.4rem 0rem #0000001f;
    padding: 120px 130px
  }
  .modal-menu {
  }
  .modal-menu ul li {
    color: #333;
    list-style-type: none;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
  }
  .modal-close {
    color: #333;
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 1rem;
    font-size: 2.3rem;
    cursor: pointer;
  }
  .our-services {
    padding: 10px 30px;
  }
  .our-services-logo h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-left: 1.9rem;
    padding-top: 0.8rem;
  }
  .our-services-logo {
    display: flex;
  }
  .our-services-text p {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .our-services-text {
  }
  .our-product-text {
  }
  .our-services-skill {
    display: block;
    margin: 0;
  }
  /* .our-services-img {
  position: absolute;
} */
  .our-services-skill .our-services-img .group-1 {
    position: absolute;
    top: 5rem;
  }
  .our-services-skill .our-services-img .group-2 {
    top: 30rem;
  }
  .our-services-skill .our-services-img .group-3 {
    top: 56rem;
  }
  .our-services-skill .our-services-img .group-4 {
    top: 81rem;
  }
  .our-products {
    padding: 10px 30px;
  }
  .our-product-text p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #4f4f4f;
  }
  .prd-child-img-2 {
    display: none;
  }

  .prd-child-img-1 {
    display: none;
  }

  .prd-child-img-3 {
    display: none;
  }

  .prd-child-img-4 {
    display: none;
  }
  .products {
    display: none;
  }
  .products-child {
  }
  .products-child-img img {
    object-fit: contain;
  }
  .prd-second-text,
  .prd-third-text p,
  .prd-bg-btn p {
    display: none;
  }
  .prd-second-text p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #4f4f4f;
    max-width: 175px;
    text-align: center;
  }
  .prd-second-logo {
    position: absolute;
    top: 270px;
    left: 120px;
  }
  .prd-bg-btn h3 {
    color: #8b47ff;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .prd-bg-btn {
    width: 17rem;
    height: 10rem;
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    position: absolute;
    bottom: 2.9rem;
    right: 3rem;
  }
  .prd-bg-icon {
    display: none;
  }
  .products {
    display: none;
  }
  .process-text p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: #4f4f4f;
    max-width: 1225px;
  }
  .process-active {
    display: none;
  }
  .process {
    padding: 0 30px;
  }
  .process-person-img img, .process-navbar-img img {
    display: none;
  }
  .process-text {
  }
  .process-person {
    display: flex;
    margin: 1.6rem 0 1.6rem 6rem;
  }

  .process-navbar-img img {
    width: 180px;
    height: 25px;
    object-fit: contain;
  }
  .process-group-mobi {
    display: block !important;
  }
  .process-group-1.process-group-mobi {
    scale: 0.7;
  }
  .container-group {
    display: none;
  }
  .process-navbar-img {
    position: absolute;
    bottom: 28.5rem;
    left: 0.5rem;
  }
  .why {
    margin-top: 30px;
    padding: 0 30px;
  }
  .why-text h3 {
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 500;
    color: #3a8ecb;
    padding-bottom: 1.4rem;
  }
  .why-text {
    padding-top: 3rem;
  }
  .why-img  {
    width: 240px;
    height: 240px;
  }
  .why-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .why-container {
    padding: 1px 1px !important;
  }
  .what h3 {
    margin-top: 2.2rem;
    margin-left: 1.4rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 400;
    color: #333;
  }

  .content-bot-1 {
    width: 15rem;
    height: 13rem;
    background-color: #b0caea;
    position: relative;
  }
  .content-bot-1-child {
    width: 15rem;
    height: 13rem;
    background-color: #fff;
    position: absolute;
    border-radius: 2rem;
    bottom: 1rem;
    right: 1rem;
  }
  .content-bot-1-child .img-4 {
    left: 27px;
  }
  .what-content-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12rem;
  }
  .information {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .infor,
  .contact {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
  }
  .our-network-content {
    gap: 25px;
  }
  .infor h5,
  .contact h5 {
    font-size: 2rem;
    line-height: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom:1rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
  }
  .infor .infor-intro,
  .contact .contact-intro {
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #828282;
    padding-top: 2rem;
    padding-left: 2.3rem;
    max-width: 520px;
  }
  .infor .infor-mail {
    margin-top: 1rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }
  .infor .infor-mail p {
    font-size: 1.6rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #000;
    padding-bottom: 0.5rem;
  }
  .infor .infor-mes {
    margin-top: 2rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    position: relative;
  }
  .infor .infor-mes p {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.5px;
    padding-bottom: 8px;
  }
  .infor .infor-name {
    margin-top: 2rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    position: relative;
  }
  .infor .infor-name p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .infor .infor-name button {
    width: 9rem;
    height: 5rem;
    background-color: #3c83d7;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin-left: 0.2rem;
    cursor: pointer;
    margin-top: 1.6rem;
  }
  .textarea-mobi {
    height: 8rem;
  }
  .contact .fonts {
    font-size: 1.4rem;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #333;
    max-width: 50rem;
    margin-top: 0.6rem;
  }
  .ml-2 {
    margin-left: 2rem !important;
  }
  .contact .contact-phone .phone-icon {
    padding-top: 7px;
    color: #3c83d7;
  }
  .contact .contact-email img {
    margin-top: 0.4rem;
  }
  .our-network-content {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    margin-top: 24px;
  }
  .infor-btn {
    flex-direction: column;
    justify-content: start;
  }
  /* .network-none {
    display: none;
  } */
  .network-none  {
    display: block !important;
  }

  .content-bot-1-child img {
    bottom: 70%;
    left: 25%;
  }
  .content-bot-1-child-text {
    margin-top: 4rem;
  }
  .content-bot-1-child-text h5 {
    font-size: 3.5rem;
    line-height: 2.5rem;
  }
  .footer-top {
    padding-top: 2rem;
    margin-left: 3.1rem;
  }
  .footer-top .footer-top-text h2 {
    line-height: 3rem;
  }
  .footer-nav-1 {
    margin: 3rem 2.5rem 3rem 2.5rem;
  }
  .footer-mid h2 {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .footer-mid {
    margin: 0 0 0 2rem;
  }
  .d-flex {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  .footer-mid-1-res {
    display: none;
  }
  .footer-mid-1 {
    margin-left: 1rem;
  }
  .footer-mid-tax,
  .footer-nav-1,
  .footer-bot {
    display: none;
  }
  .footer {
    background-color: #2e3c51;
    width: 100%;
    height: 38rem;
  }
  .fa-solid {
  }
  .pt-12 {
    padding-top: 12px;
  }
}
